.add-task-main-container {
    padding-top: 110px;
    padding-left: 96px;
    padding-right: 96px;
}

.add-task-input-containers {
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
}

.headline-add-task {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    margin: 0;
}

.left-input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 440px;
    height: 376px;
}

.input-title-container {
    display: flex;
    flex-direction: column;
    height: 96px;
    gap: 8px;
}

.input-title-container span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-title-container input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-description-container {
    display: flex;
    flex-direction: column;
    height: 168px;
    gap: 8px;
}

.input-description-container span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-description-container input {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.drop-down-assignt-to-container {
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 8px;
}

.drop-down-assignt-to-container span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.drop-down-assignt-to-container input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.grey-vector {
    border: solid 1px #D1D1D1;
}

.right-input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 440px;
    height: 416px;
}

.input-due-date-container {
    display: flex;
    flex-direction: column;
    height: 96px;
    gap: 8px;
}

.input-due-date-container span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-due-date-container input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    color: #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.prio-selection-container {
    display: flex;
    flex-direction: column;
    height: 88px;
    gap: 8px;
}

.prio-selector-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.prio-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 56px;
    background-color: #FFFFFF;
    border: solid 1px #D1D1D1;
    border-radius: 10px;
    gap: 8px;
}

.prio-selection-container span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-category-container {
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 8px;
}

.input-category-container label,
select {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-category-container select {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.subtask-container {
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 8px;
}

.subtask-container label,
select {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-subtask-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-subtask-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    height: 48px;
    border-radius: 10px;
}

.subtask-buttons {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.subtask-buttons button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#subtask-list {
    margin-top: 10px;
    padding-left: 20px;
}

.subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.subtask-item span {
    font-size: 16px;
}

.add-task-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
}

.add-task-create-btn-container {
    display: flex;
    gap: 16px;
}

.clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 56px;
    border-radius: 10px;
    border: solid 1px #2A3647;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    transition: filter 0.3s ease-in-out;
}

.clear-btn:hover {
    cursor: pointer;
    color: #29ABE2;
    border-color: #29ABE2;
}

.clear-btn:hover img {
    filter: invert(55%) sepia(64%) saturate(523%) hue-rotate(173deg) brightness(95%) contrast(88%);
}


.create-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 56px;
    border-radius: 10px;
    background-color: #2A3647;
    border: solid 1px #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    transition: filter 0.3s ease-in-out;
}

.create-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border: #29ABE2;
}