 body,
 html {
     overflow: auto !important;
     scrollbar-width: none !important;
     -ms-overflow-style: none !important;
 }

 body::-webkit-scrollbar,
 html::-webkit-scrollbar {
     display: none !important;
 }

 .help-container {
     display: flex;
     flex-direction: column;
     padding-top: 60px;
     padding-left: 96px;
     padding-right: 96px;
     gap: 30px;
     overflow: auto;
     scrollbar-width: none;
     -ms-overflow-style: none;
 }

 .help-container::-webkit-scrollbar {
     display: none;
 }

 .span-container {
     gap: 24px;
 }

 .headline-and-arrow {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
 }

 .arrow {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .arrow:hover {
     transform: scale(1.2);
     background-color: rgb(233, 233, 233);
     border-radius: 50%;
     padding: 1px;
     cursor: pointer;
 }

 .help-button {
     display: none;
 }

 .headline-main {
     font-size: 61px;
     font-weight: 700;
     line-height: 73.2px;
     margin: 0;
 }

 .sub-headline {
     font-size: 27px;
     font-weight: 700;
     line-height: 32.4px;
 }

 .sub-sub-headline {
     font-size: 20px;
     font-weight: 700;
     line-height: 24px;
 }

 .number {
     font-size: 27px;
     font-weight: 700;
     line-height: 32.4px;
 }

 .join {
     color: #82CCEC;
 }

 .number-and-headline {
     display: flex;
     align-items: center;
     gap: 35px;
     margin-bottom: 10px;
 }

 ul {
     list-style-type: none;
     padding: 0;
 }

 .li-text {
     display: flex;
     flex-direction: column;
 }

 .li-flexbox {
     display: flex;
     align-items: flex-start;
     gap: 35px;
 }

 p {
     margin-top: 0;
 }