body,
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.privacy-policy {
  max-width: 1440px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.pl {
  padding-left: 96px;
  padding-right: 96px;
}

.font-color {
  color: #29ABE2;
}

.headline {
  margin: 0;
  padding-top: 60px;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

.subtitle-p {
  font-weight: 700;
  font-size: 27px;
  line-height: 32.4px;
}

.text-format {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #29ABE2;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.headline-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 96px;
}

.arrow:hover {
  transform: scale(1.05);
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  padding: 1px;
  cursor: pointer;
}

.content {
  overflow: auto;
}

@media (max-width: 850px) {
  .headline {
    font-size: 36px;
    line-height: 36.8px;
  }

  .subtitle-p {
    font-size: 24px;
    line-height: 24.8px;
  }
}

@media (max-width: 580px) {

  .content {
    align-items: start !important;
  }

  .headline {
    padding-right: 40px !important;
  }

  .pl {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}