@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logoMove {
    from {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    to {
        transform: translate(-600px, -275px) scale(0.3);
        opacity: 0;
    }
}

body {
    max-width: 1440px;
    overflow: hidden;
    height: 100vh;
    overflow: hidden;
    display: block !important;
}

.scroll-enabled {
    overflow: auto;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

.loading-logo {
    width: 200px;
    height: auto;
    transition: transform 0.5s ease-out;
}

.loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}

.loading-screen.fade-out .loading-logo {
    transform: translate(-650px, -250px) scale(0.3);
}

.main-logo {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.main-logo.show {
    opacity: 1;
}

.login-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-main .navbar {
    display: flex;
    width: 95.76%;
    justify-content: space-between;
}

.login-main .navbar-left {
    padding-top: 67px;
}

.login-main .navbar-right {
    gap: 35px;
    display: flex;
    align-items: center;
    padding-top: 67px;
    height: 49px;
    opacity: 0;
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 2s;
}

.sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.login-main .sign-up-btn {
    width: 91px;
    height: 49px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.2px;
    border: solid 1px #2A3647;
    border-radius: 8px;
    color: white;
    background-color: #2A3647;
    transition: all 0.3s ease;
    opacity: 0;
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 2.1s;
}

.login-main .sign-up-btn:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
}

.login-main .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 449px;
    gap: 32px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 2.2s;
}

.login-main .login-container .headline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    margin: 0;
    position: relative;
    display: inline-block;
}

.login-main .login-container .headline::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background: #29ABE2;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.login-main .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px 15px;
    width: 100%;
    max-width: 422px;
    height: 48px;
    background-color: #fff;
    opacity: 0;
}

.first {
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 2.3s;
}

.second {
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 2.5s;
}

.login-main .input-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 8px;
    background: transparent;
}

.login-main .input-container .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.login-main .input-container .icon img {
    width: 20px;
    height: 20px;
}

.login-main .submit-buttons-login {
    display: flex;
    gap: 35px;
}

.login-main .login-btn,
.login-main .guest-login-btn {
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    border-radius: 8px;
    height: 48px;
    transition: all 0.3s ease;
    opacity: 0;
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 2.6s;
}

.login-main .login-btn {
    width: 110px;
    border: solid 1px #2A3647;
    color: white;
    background-color: #2A3647;
}

.login-main .login-btn:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
}

.login-main .guest-login-btn {
    width: 177px;
    border: solid 1px #2A3647;
    color: #2A3647;
    background-color: transparent;
}

.login-main .guest-login-btn:hover {
    border-color: #29ABE2;
    color: #29ABE2;
}

.legal-btn-container {
    padding-bottom: 30px;
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 2.6s;
    opacity: 0;
    display: flex;
    gap: 10px;
}

.legal-btn {
    width: 121px;
    height: 35px;
    padding: 8px;
    border: none;
    background: none;
    outline: none;
    color: #A8A8A8;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.legal-btn:hover {
    color: #29ABE2;
}

@media (max-width: 768px) {
    .main-logo {
        width: 64px !important;
        height: 78px !important;
    }

    .login-container {
        width: 530px !important;
    }

    h1 {
        font-weight: 700 !important;
        font-size: 47px !important;
    }
}

@media (max-width: 600px) {

    .login-container {
        width: 440px !important;
    }

    .input-container {
        max-width: 364px !important;
    }

    .responsive-screen {
        display: flex !important;
    }

    .default-screen {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .loading-screen {
        background-color: #2A3647 !important;
    }

    .loading-logo {
        content: url("../assets/img/logos/join_logo_loading_screen_dark.svg");
    }

    .login-container {
        width: 320px !important;
    }

    .input-container {
        max-width: 250px !important;
    }

    .submit-buttons-login {
        gap: 22px !important;
    }

    .guest-login-btn {
        width: 143px !important;
    }
}

@media (max-width: 320px) {

    .login-container {
        width: 300px !important;
    }

    .input-container {
        max-width: 230px !important;
    }

    .submit-buttons-login {
        gap: 34px !important;
    }

    .guest-login-btn {
        width: 143px !important;
    }

    .login-btn {
        width: 77px !important;
    }
}