@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


html {
    overflow-y: scroll;
    scroll-behavior: smooth;

    /* Gesamter Scrollbar */
    ::-webkit-scrollbar {
        width: 4px;
        /* Breite des vertikalen Scrollbars */
        height: 4px;
        /* Höhe des horizontalen Scrollbars */
    }

    /* Hintergrund des Scrollbar-Tracks */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Scrollbar-Schieber (Thumb) */
    ::-webkit-scrollbar-thumb {
        background: #29abe2;
        border-radius: 4px;
        /* Optional: Abrundung für ein weicheres Erscheinungsbild */
    }

    /* Optional: Hover-Effekt für den Schieber */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 232px auto;
    grid-template-rows: 96px auto;
    width: 100%;
    height: 100vh;
}

.layout {
    display: grid;
    grid-template-columns: 232px auto;
    grid-template-rows: 96px auto;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: white;
    overflow-x: hidden;
}

.content {
    grid-column: 2;
    grid-row: 2;
    background-color: #f4f4f4;
    height: calc(100vh - 96px);
    overflow-y: auto;
    overflow: auto !important;
}

button:hover {
    cursor: pointer;
}