body,
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.privacy-policy {
  max-width: 1440px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.join {
  color: #82CCEC;
}

.pl {
  padding-left: 96px;
  padding-right: 96px;
}

.headline {
  margin: 0;
  padding-top: 110px;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

.subtitle-p {
  font-weight: 700;
  font-size: 27px;
  line-height: 32.4px;
}

.headline-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 96px;
}

.arrow:hover {
  transform: scale(1.05);
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  padding: 1px;
  cursor: pointer;
}

@media (max-width: 580px) {

  .content {
    align-items: start !important;
  }

  .headline {
    padding-right: 20px !important;
  }

  .pl {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .privacy-policy {
    width: 300px !important;
  }
}