body,
html {
    max-width: 1208px;
}

.content {
    overflow: auto;
}

.headline-container {
    display: flex;
    align-items: center;
    padding-left: 96px;
    padding-top: 60px;
    padding-bottom: 40px;
    gap: 30px;
}

.headline-summary {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    margin: 0;
}

.blue-vector {
    border: solid 1.5px #29ABE2;
    height: 59px;
}

.headline-text {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
}

.task-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 96px;
    height: 562px;
    width: 560px;
}

.to-do-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    height: 168px;
}

.to-do {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    gap: 18px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.to-do:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.to-do-number-span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-do-number-span span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.to-do-number {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.icon-summary {
    height: 69px;
    width: 69px;
}

.summary-task-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    gap: 61px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.summary-task-status:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-summary-status {
    width: 60px;
    height: 60px;
}

.icon-and-span-task-status {
    display: flex;
    align-items: center;
    gap: 18px;
}

.gray-vector {
    height: 102px;
    border: solid 1px #D1D1D1;
}

.info-date {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.date {
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
}

.info {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.summary-task-count-containers {
    display: flex;
    justify-content: space-between;
}

.count-number-span {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    gap: 13px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.count-number-span:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.count-number {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.count-number-span span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.task-summary-and-greeting-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.day-time {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
}

.user-name {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    color: #29ABE2;
}

@media (max-width: 850px) {
    .count-number-span span {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        padding-bottom: 20px !important;
    }

    .to-do-number-span span {
        padding-bottom: 8px !important;
    }

    .summary-task-count-containers {
        padding-bottom: 20px !important;
    }

    .task-summary {
        gap: 15px !important;
    }
}

@media (max-width: 525px) {
    .icon-and-span-task-status {
        gap: 0px !important;
    }

    .task-summary {
        align-items: center !important;
    }
}