.top-header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    height: 96px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 5;
}

.header-title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 100px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    padding-right: 40px;
}

.help-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s;
}

.help-icon:hover {
    transform: scale(1.1);
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 3px #2A3647;
    ;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    color: #29ABE2;
    cursor: pointer;
    transition: background 0.3s;
}

.user-profile:hover {
    background-color: #2A3647;
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 180px;
    top: 76px;
    right: 0;
    padding: 10px;
    background-color: #2A3647;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 15;
}

.show {
    display: block;
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.2s;
}

.dropdown-menu a:hover {
    background-color: #29ABE2;
}

body.legal-page .user-profile {
    display: none;
}

@media (max-width: 850px) {
    .top-header {
        width: 100vw;
        max-width: none;
        margin: 0;
        padding: 0;
    }

    .help-icon {
        display: none;
    }

    .help-button-responsive {
        display: block !important;
    }

    .header-title {
        display: none;
    }

    .logo-header-responsive {
        display: block !important;
        margin-left: 16px;
    }
}