.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 10; /* Ensures the navbar is on top */
}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.navbar-logo {
    width: 100px;
    height: 122px;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 229px;
    gap: 15px;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 232px;
    height: 46px;
    padding: 8px 56px;
    gap: 8px;
    background-color: #2A3647;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.navbar-item img {
    width: 24px;
    height: 24px;
}

.navbar-item:hover,
.navbar-item.active {
    background-color: #091931;
}

.navbar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar-footer-item {
    font-size: 14px;
}

.navbar-footer-item:hover {
    color: #29ABE2;
}
